@function fm-em($pixels, $context: $fm_browser_context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

@mixin mq($mq-breakpoint, $mq-breakpoints: $fm_bp) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (min-width: fm-em($mq-breakpoint)) {
    @content;
  }
}